@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "https://fonts.google.com/specimen/Rouge+Script";

.head {
    font-family: "Sofia", sans-serif;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    background-image: url("https://img.freepik.com/free-vector/beer-with-bubbles-foam-background_107791-2563.jpg?w=900&t=st=1659406305~exp=1659406905~hmac=3f012552e2f6dd88883d3f94ee6884656d19965b8d4022149315c9272c33a7c9");
    background-repeat: no-repeat;
    background-size: 1000px 300px;
    display: block;
    margin: 0 auto;
    width: 981px;
    height: 180px;
    border: 1px solid #df8d08;
}

.hr, .bar-options {
    font-family: "Sofia", sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #d08c47;
    flex-direction: row;
    justify-content: right;
}